*.msi
*.exe
*.zip
main.py
uv.lock
.venv/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.python-version
ressources/
fonctions/__pycache__/
fonctions/.ipynb_checkpoints/
scripts/__pycache__/
scripts/.ipynb_checkpoints/
tests/__pycache__/
tests/.ipynb_checkpoints/
donnees/.ipynb_checkpoints/